TABLET_PORT=3000
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
DEFAULT_ROOM_ID=
DEMO_MODE=false
TABLET_DATA_DIR=./data
TARGET_BUFFER_SECONDS=1800
MAX_PREPARED_TRACKS=12
MAX_PENDING_PER_USER=2
ENABLE_VIDEO=true
PERFORMANCE_MODE=balanced
TABLET_ADMIN_PIN=
MEDIA_ALLOWED_HOSTS=
YOUTUBE_API_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
MAX_AUDIO_BYTES=104857600
MAX_VIDEO_BYTES=524288000
MAX_COVER_BYTES=5242880
UNKNOWN_DURATION_ESTIMATE_SECONDS=240
ALLOW_LOCAL_MEDIA_TEST=false
